@font-face {
    font-family:din_l;
    src: url('../../both/fonts/DINLight.ttf');
}

@font-face{
	font-family:din_r;
	src: url('../../both/fonts/DINRegular.ttf');
}

@font-face{
	font-family:din_m;
	src: url('../../both/fonts/DINMedium_2.ttf');
}

@font-face{
	font-family:avenir_light;
	src: url('../../both/fonts/Avenir-Light.ttf');
}

@font-face{
	font-family:avenir_black;
	src: url('../../both/fonts/Avenir-Black.ttf');
}

@font-face{
	font-family:arial_bd;
	src: url('../../both/fonts/arialbd.ttf');
}

@font-face{
	font-family:arial;
	src: url('../../both/fonts/arial.ttf');
}

@font-face{
	font-family:avenir_roman;
	src: url('../../both/fonts/Avenir-Roman.ttf');
}

@font-face{
	font-family:avenir_heavy;
	src: url('../../both/fonts/Avenir-Heavy.ttf');
}

@font-face{
	font-family:avenir_black_oblique;
	src: url('../../both/fonts/Avenir-BlackOblique.ttf');
}

@font-face{
	font-family:nexa_bold;
	src: url('../../both/fonts/Nexa Bold.otf');
}

@font-face{
	font-family:myriadpro_bold;
	src: url('../../both/fonts/MyriadPro-Bold.otf');
}

@font-face{
	font-family:lobster;
	src: url('../../both/fonts/Lobster1.4.otf');
}

@font-face{
	font-family:bulleto;
	src: url('../../both/fonts/Bulletto-Killa.ttf');
}

/* Other */
.center{
	text-align:center;
}

.rs_search{
	padding: 10px;
    border: 1px solid #666666;
    display: none;
    border-radius: 10px;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 305;
    height: 190px;
    overflow: auto;
}

.rs_search p{
	padding:10px;
}

.rs_search p:hover{
	background-color:#167ac6 !important;
	color:#ffffff;
	cursor:pointer;
}

.bubblingG {
	text-align: center;
	width:110px;
	height:69px;
	margin: auto;
	display:block;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	margin: 34px auto;
	background: rgb(181,27,27);
	border-radius: 69px;
		-o-border-radius: 69px;
		-ms-border-radius: 69px;
		-webkit-border-radius: 69px;
		-moz-border-radius: 69px;
	animation: bubblingG 0.975s infinite alternate;
		-o-animation: bubblingG 0.975s infinite alternate;
		-ms-animation: bubblingG 0.975s infinite alternate;
		-webkit-animation: bubblingG 0.975s infinite alternate;
		-moz-animation: bubblingG 0.975s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.2895s;
		-o-animation-delay: 0.2895s;
		-ms-animation-delay: 0.2895s;
		-webkit-animation-delay: 0.2895s;
		-moz-animation-delay: 0.2895s;
}

#bubblingG_3 {
	animation-delay: 0.589s;
		-o-animation-delay: 0.589s;
		-ms-animation-delay: 0.589s;
		-webkit-animation-delay: 0.589s;
		-moz-animation-delay: 0.589s;
}



@keyframes bubblingG {
	0% {
		width: 14px;
		height: 14px;
		background-color:rgb(181,27,27);
		transform: translateY(0);
	}

	100% {
		width: 33px;
		height: 33px;
		background-color:rgb(255,255,255);
		transform: translateY(-29px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 14px;
		height: 14px;
		background-color:rgb(181,27,27);
		-o-transform: translateY(0);
	}

	100% {
		width: 33px;
		height: 33px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-29px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 14px;
		height: 14px;
		background-color:rgb(181,27,27);
		-ms-transform: translateY(0);
	}

	100% {
		width: 33px;
		height: 33px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-29px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 14px;
		height: 14px;
		background-color:rgb(181,27,27);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 33px;
		height: 33px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-29px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 14px;
		height: 14px;
		background-color:rgb(181,27,27);
		-moz-transform: translateY(0);
	}

	100% {
		width: 33px;
		height: 33px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-29px);
	}
}

.cus_con{
	margin-left:5%;
	margin-right:5%;
}

.cus_con3{
	margin-left:6%;
	margin-right:6%;
}

.cus_con2{
	margin-left:5%;
	margin-right:5%;
}

.cus_con4{
	margin-left:5%;
	margin-right:5%;
}

.cus_con_nw{
	margin-left:5%;
	margin-right:5%;
}

.cus_con_nw1{
	margin-left:5%;
	margin-right:5%;
}

@media screen and (min-width:1024px) and (max-width:1200px){
	.cus_con2{
		margin-left:1% !important;
		margin-right:1% !important;
	}
}

@media screen and (max-width:767px){
	.cus_con_nw{
		margin-left:0;
		margin-right:0;
	}

	.cus_con_nw1{
		margin-left:0;
		margin-right:0;
	}

	.cus_con4{
		margin-left:0 !important;
		margin-right:0 !important;
	}
}

.img_center{
	display:block;
	margin:auto;
}

.img_width{
	width:100%;
}

.tw_dot{
	float:right;
}

@media screen and (max-width:767px){
	.tw_dot{
		float:none !important;
	}
}

.height{
	height:100%;
}
/* End Other */

/* Header */
.cus_navbar{
	z-index:100 !important;
}

.hd_tl_mno{
	display:none !important;
}

.hd_con1{
	margin-top:2%;
	font-family:Helvetica !important;
}

.hd_con1_1 input{
	border-right:none !important;
}

.hd_con1_1{
	margin-top:4%;
	margin-bottom:4%;
}

.hd_con2{
	margin-top:10px;
}

.hd_con4{
	display:block;
	margin:auto;
}

.hd_logout{
	font-family: arial !important;
    font-weight: bold;
    color: #E10A0A !important;
}

.hd_forgot{
	font-family: arial;
    font-weight: bold;
    color: #808080 !important;
    background:transparent !important;
    border:none !important;
}

.hd_register{
	font-family: arial !important;
    font-weight: bold;
    color: #E10A0A !important;
}

.hd_profile{
	font-family: arial;
    font-weight: bold;
    color: #808080 !important;
    margin-right:5%;
}

.hd_auth{
	margin-top:4%;
	margin-bottom:5%;
	text-align:right;
}

.cus_addon{
	padding:0 !important;
	border-left:none !important;
	background:transparent;
}

.cus_addon button{
	border-radius:0 !important;
	border:none !important;
	border-left:1px solid #c2cad8 !important;
	color:#E10A0A !important;
}

@media screen and (max-width:767px){
	.cus_navbar{
		display:block !important;
		float:none !important;
		margin:auto 0 auto auto !important;
	}

	.hd_login{
		margin-bottom:10px;
	}

	.navbar-toggle{
		padding:0 !important;
	}

	.hd_con5{
		display:block;
		margin: auto 0 0 auto;
	}

	.sp_head{
		display:none;
	}

	.hd_tl_li{
		display:block !important;
		width:100%;
		background-color:#808080;
	}

	.hd_tl_li a{
		color:#ffffff !important;
	}

	.hd_tl_li a:hover{
		background-color:#333333 !important;
	}

	.hd_tl_li a:focus{
		background-color:#333333 !important;
	}

	.hd_tl_active{
		background-color:#333333;
	}

	.hd_tl_active a{
		color:#ffffff !important;
	}

	.hd_tl_img{
		display:none !important;
	}

	.hd_tl_mno{
		display:block !important;
	}
}

.hd_con3{
	margin-top:-8px;
	margin-bottom:5%;
}

@media screen and (max-width:767px){
	.hd_mbl{
		display:inline-block !important;
	}

	.hd_mbl a{
		padding:10px !important;
	}
}
/* End Header */

/* Footer */
.foot_cons{
	background-color:#F4F4F4;
	padding-top:5%;
	padding-bottom:5%;
}

.foot_link_con{
	text-align:right;
}

.foot_link{
	margin-left:10px;
}

.foot_copy{
	text-align: right;
	color:#8C8C8C !important;
	font-family:Arial !important;
	margin-top:10px;
}

.dev_foot{
	text-align: center;
	color:#8C8C8C !important;
	font-family:Arial !important;
	margin-top:10px;
}

.dev_foot a{
	color:#333333 !important;
}

@media screen and (max-width:767px){
	.img-footer{
		margin-bottom:10%;
	}
}

.fot_soc{
	max-width:40px !important;
	max-height:40px !important;
}

@media screen and (max-width:767px){
	.foot_cons{
		padding-top:10% !important;
		padding-bottom:10% !important;
	}

	.foot_link_con{
		text-align:center !important;
	}

	.foot_copy{
		text-align:center !important;
	}
}
/* End Footer */

/* Home */
.merchant-home-headline{
	height: 490px;
	padding: 5px 5px;
	position: relative;
	overflow: hidden;
	background: #dedede;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 56% center;
}

.news-home-headline{
	height: 540px;
	padding: 5px 5px;
	position: relative;
	overflow: hidden;
	background: #dedede;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 56% center;
}

@media screen and (min-width:1024px) and (max-width:1350px){
	.news-home-headline{
		height: 562px !important;
	}
}

.padding-sticky{
	margin-bottom:10px;
}

@media screen and (max-width:767px){
	.merchant-home-headline{
		height:234px !important;
	}

	.news-home-headline{
		height:234px !important;
	}
}

.hm_3_span{
	padding: 10px;
	background-color: #191919;
	font-family: arial !important;
	font-weight: bold;
	font-size: 18px !important;
	color: #ffffff !important;
}

.hm_4_span{
	background-color: white;
    padding: 10px 20px;
    font-family: arial !important;
    font-size: 16px;
    font-weight: bold;
    color: #292D2F !important;
}

.hm_5_span{
	padding: 10px 10px;
	background-color: #ffffff;
	font-family: arial !important;
	font-weight: bold;
	font-size: 29px;
	color: black !important;
}

.hm_6_span{
	background-color: white;
    font-family: arial !important;
    font-size: 18px;
    color: #808080 !important;
}

.hm_7_span{
	background-color: white;
    font-family: arial !important;
    font-size: 18px;
    color: #808080 !important;
}

.hm_7_span p{
	display:inline !important;
}

.merchant-home-list{
	height: 234px;
	padding: 5px 5px;
	position: relative;
	overflow: hidden;
	background: #dedede;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 56% center;
}

.news-home-list{
	max-height: 180px;
	min-height: 216px;
	padding: 5px 5px;
	position: relative;
	overflow: hidden;
	background: #dedede;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 56% center;
}

.news-home-list img{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
}

.col {
  /*background: #ccc;*/  
}

.row > .red {
    background: red;
    color: #fff;
}

.row .blue {
    background: blue;
    color: #fff;
}

.row .green {
    background: green;
}

.row .orange {
	background: orange;
}
	
.row > .comments-site-feed {
	/*background: black;*/
	color: #fff;
}

.img-headline{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
}

.hm_1{
	font-family:bulleto !important;
	font-size:63px;
	color:#FFFFFF !important;
	line-height:120%;
}

@media screen and (min-width:768px) and (max-width:1439px){
	.hm_1{
		font-size:4.5vw !important;
	}

	.btn-slider a > button{
		font-size:2vw !important;
		padding:15px !important;
	}
}

.hm_2{
	margin-top:8%;
	padding-left:2%;
	padding-right:2%;
}

.hm_2_1{
	margin-bottom:5%;
}

.hm_3{
	margin-bottom:5%;
}

.hm_3_1{
	margin-bottom:20px;
}

.hm_4{
	margin-top:3%;
}

.hm_4_1{
	margin-bottom:20px;
}


.hm_5{
	margin-bottom:8%;
}

.hm_6{
	margin-top:20px;
}

.hm_6_1{
	margin-bottom:20px;
}

.hms_news{
	font-family:arial !important;
}

.header-merchant-content{
	margin-bottom:20px;
}

.why-us{
    background-color: #E6E6E6;
    padding:3%;
    height:100%;
}

.why-us-title{
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-family: arial;
    color: #E10A0A;
    padding: 10px 0px 10px 0px;
}

.why-us-description{
    text-align: center;
    color: #808080;
    font-size: 18px;
    padding: 10px 10px 20px 10px;
    font-family: din_l !important;
}

.news-desc{
	margin-top:20px;
	line-height:150%;
}

.news-desc a{
	color:#333333 !important;
}

@media screen and (max-width:767px){
	.header-merchant-content{
		font-size: 10vw !important;
		text-align:center;
	}
}

@media screen and (min-width:768px){
	.news-desc{
		min-height:64px;
	}
}

.hm-btn-next{
	right:3% !important;
	background-image: url('../images/other/arrow-right.png');
}

.hm-btn-prev{
	left:3% !important;
	background-image: url('../images/other/arrow-left.png');
}

.hm_slider{
	cursor: -webkit-grab;
}

.hm_pagination > .swiper-pagination-bullet{
	width:10px !important;
	height:10px !important;
	border-radius:0 !important;
	background-color:#FFFFFF !important;
	opacity:1 !important;
	bottom: 40px !important; 
	text-align: center;
	left: 0px !important;
}

.hm_pagination > .swiper-pagination-bullet-active{
	background-color:#999999 !important;
}

.btn-hms{
	color:#ffffff !important;
}

@media screen and (max-width:767px){
	.hm_2{
		margin-top:10% !important;
	}

	.hm_3{
		margin-top:5% !important;
	}

	.hm_5{
		margin-bottom:10% !important;
	}

	.hm_5_span{
		font-size:3.5vw !important;
	}

	.btn-slider{
		display:none !important;
	}

	.hm_1{
		display:none !important;
	}

	.hm_slider img{
		min-height:150px;
	}

	.nhm_con{
		display:none !important;
	}
}
/* End Home */

/* Our Company */
.oc_con{
	margin-top:2%;
	margin-bottom:8%;
	font-family:din_l !important;
}

.oc_tab_p{
	text-align:center;
	color:#58595B !important;
	font-size:38px !important;
	margin-top:15px;
}

.oc_tab_des{
	font-size:19px !important;
	color:#A00C10 !important;
	padding-top:30px;
	line-height: 130% !important;
	text-align:justify;
}

.cus_tab_oc > .active > a{
	background-color:transparent !important;
}

@media screen and (max-width:767px){
	.oc_mbl{
		display:inline-block !important;
	}

	.oc_con{
		margin-top:10% !important;
		margin-bottom:10% !important;
	}

	.oc_mbl a > img{
		max-width:50px !important;
	}

	.oc_mbl a{
		padding:10px !important;
	}

	.oc_tab_p{
		display:none !important;
	}

	.cus_tab_oc li:first-child > a{
		padding-left:0 !important;
	}

	.cus_tab_oc{
		text-align:center;
	}
}

/* End Our Company */

/* Our Services */
.os_con{
	margin-top:2%;
	margin-bottom:8%;
	font-family:din_l !important;
}

.os_tab_p{
	text-align:center;
	color:#58595B !important;
	margin-top:15px;
	font-size:20px !important;
	line-height:120%;
}


.os_cus_tab a{
	word-break:break-all;
}

@media screen and (min-width:768px) and (max-width:1199px){
	.os_cus_tab a > p{
		font-size:2vw !important;
	}
}

@media screen and (min-width:1200px) and (max-width:1439px){
	.os_cus_tab a > p{
		font-size:1.5vw !important;
	}
}

@media screen and (min-width:768px){
	.os_cus_tab{
		width:20%;
	}
}

.os_cus_tab a{
	padding:20px 15px 40px 15px !important;
	border-bottom:0 !important;
}

@media screen and (max-width:767px){
	.os_con{
		margin-top:10% !important;
		margin-bottom:10% !important;
	}

	.osr_tab>li.active>a{
		border:1px solid #ddd;
	}

	.os_cus_tab{
		display:inline-block !important;
	}

	.os_cus_tab a > img{
		max-width:50px !important;
	}

	.os_tab_p{
		display:none !important;
	}
}

.os_tab_content{
	border:1px solid #ddd;
	padding:40px;
	font-size:19px !important;
	line-height: 130% !important;
	margin-top: -1px;
}

.os_mnu{
	height:100%;
}
/* End Our Service */

/* Our Client */
.or_cl {
    width: 100%;
    height: 400px !important;
}

.or_cl_slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#grad {
    background: red; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(yellow, #FF5722, #FF5722); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(yellow, #FF5722, #FF5722); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(yellow, #FF5722, #FF5722); /* For Firefox 3.6 to 15 */
	background: radial-gradient(yellow, #FF5722, #FF5722); /* Standard syntax */
}

.swiper-slide-prev{
	width:20%;
}

.oc-btn-prev{
	left:30% !important;
	background-image: url(../images/other/arrow-left.png);

}

.oc-btn-next{
	right: 30% !important;
	background-image: url(../images/other/arrow-right.png);
}

.or_cl_slide{
	background: none;
	cursor: -webkit-grab;
}

.or_cl_con{
	margin-top:8%;
	margin-bottom:10%;
}

.or_cl_con2{
	margin-bottom:8%;
}

.or_cl_2{
	border:1px solid #adadad;
	padding:4%;
}

.or_cl_3{
	padding:2% 4% 2% 4%;
}

.oc_btn_apl{
	text-align:center;
}

.oc_btn_ap{
	background-color:#E10A0A;
	border:none !important;
}

.oc_btn_ap a{
	color:#ffffff !important;
}

@media screen and (max-width:767px){
	.or_cl{
		height:200px !important;
	}

	.card-header-right{
		padding-left:15px;
	}

	.card-title{
		font-size: 1.5em !important;
		padding-top: 20px;
	}

	.or_cl_3{
		padding:15px !important;
	}

	.oc_btn_apl{
		margin-top:10px;
	}
}

/* End Our Client */

/* News */
	/* Custom Slide show News */
	.nw-btn-next{
		right:3% !important;
		background-image: url('../images/other/arrow-right.png');
	}

	.nw-btn-prev{
		left:3% !important;
		background-image: url('../images/other/arrow-left.png');
	}

	.nws_slider{
		cursor: -webkit-grab;
	}

	.swiper-pagination-bullets{
		bottom:40px !important;
		text-align:left;
		left:10% !important;
		width:40% !important;
	}

	@media screen and (min-width:768px) and (max-width:1023px){
		.swiper-pagination-bullets{
			left:45% !important;
		}
	}

	.nws_pagination > .swiper-pagination-bullet{
		width:10px !important;
		height:10px !important;
		border-radius:0 !important;
		background-color:#FFFFFF !important;
		opacity:1 !important;
	}

	.nws_pagination > .swiper-pagination-bullet-active{
		background-color:#999999 !important;
	}

	.swiper_cus_con{
		width:100%;
		height:auto;
		position:absolute;
		bottom:0;
		background-image:url('../images/other/transparent.png');
		background-repeat: repeat;
		padding-top:40px;
		padding-bottom:40px;
	}

	.swiper_links_des{
		color:#ffffff !important;
		display:inline-block;
	}

	@media screen and (min-width:768px) and (max-width:1023px){
		.swiper_cus_con{
			padding-top:20px !important;
			padding-bottom:20px !important;
		}

		.swiper_cus_time{
			margin-left:0 !important;
		}

		.swiper_cus_headline_font{
			font-size:1.4em !important;
			padding-top:5px;
			padding-bottom:5px;
		}

		.swiper_cus_des{
			display:none !important;
		}
	}

	@media screen and (max-width:767px){
		.swiper_cus_con{
			display:none !important;
		}	

		.swiper-pagination-bullets{
			bottom:20px !important;
			left:40% !important;
		}
	}

	.swiper_cus_cons{
		background-color:#ffffff;
	}

	.swiper_cus_time{
		background-color:#DB0B0B;
		color:white;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
		margin-left:-5px;
		margin-top:5px;
		font-family:Helvetica !important;
	}

	.swiper_cus_headline{
		padding-left:6%;
		padding-top:5px;
		padding-bottom:5px;
		color:#282828 !important;
	}

	.swiper_cus_headline_font{
		font-size:40px;
		font-family:avenir_black !important;
	}

	.swiper_cus_des{
		color:white;
		padding-top:15px;
		font-family:din_l !important;
		font-size:20px !important;
	}

	.swiper_cus_des p{
		display:inline-block !important;
	}
	/* End Custom Slide show News */

.img_nws{
    display: block;
    margin: auto;
}

.dm_input1{
	margin-bottom:8px;
}

.dm_input2{
	margin-bottom:20px;
}

.nw_cn1{
	margin-bottom:10px;
	background-size:cover;
	background-position: 56% center;
}

.nw_con1{
	margin-top: 5%;
    margin-bottom: 5%;
}

.nw_bg_con1{
	background-color:#F7F7F7;
}

.nw_con1L{
	padding-top:40px;
	margin-bottom:20px;
}

.nw_con1L h1{
	color:#E10A0A;
	font-size:50px;
	font-family:arial_bd !important;
}

.nw_con1_1L{
	padding-top:25px;
	padding-bottom:25px;
	border-bottom:1px solid #CCCCCC;
}

.nw_con1_2L{
	font-size:28px;
	color:#E10A0A !important;
	font-family:arial_bd !important;
}

.nw_con1_2L:hover{
	color:#2D2D2D !important;
}

.nw_con1_2L h3{
	margin-bottom:10px;
}

.nw_con1_3L{
	margin-bottom:10px;
	color:#959595 !important;
	font-family:Helvetica !important;
}

.nw_con1_4L{
	color:#212121 !important;
}

.nw_con1_4L:hover{
	color:#959595 !important;
}

.nw_con1_5L{
	font-family:avenir_roman !important;
	line-height:150%;
	color:#212121 !important;
	font-size:18px;
}

.nw_con1_5L p{
	display:inline-block !important;
}

.nw_pad_con1{
	padding-right:5%;
}

.nw_con1_pad{
	padding-left:5%;
}

@media screen and (max-width:767px){
	.nw_con1_pad{
		padding-left:0;
		padding-right:0;
	}

	.nw_con1{
		margin-top:10% !important;
		margin-bottom:10% !important;
	}

	.nw_con1L h1{
		font-size:12vw !important;
	}
}

@media screen and (max-width:1023px){
	.nw_pad_con1{
		padding-right:15px;
		margin-bottom:10%;
	}
}

.nw_con1_1R{
	background-color:#E10A0A;
	color:#ffffff;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	font-size:24px;
	font-family:arial_bd !important;
}

.nw_con1_2R{
	background-color:#4D4D4D;
	height:15px;
}

.nw_con1_3R{
	padding:6% 8%;
}

.nw_con1_3R_1{
	background-color:#4D4D4D;
	text-align:center;
	padding:10%;
	font-family:arial_bd !important;
	font-size:20px;
	color:#ffffff;
}

.nw_con1_4R{
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px solid #CCCCCC;
}

.nw_con1_5R{
	margin-top:5px;
}

.nw_con1_5R a:hover{
	color:#E10A0A !important;
}

.nw_con1_5R a{
	font-family:avenir_heavy !important;
	font-size:20px !important;
	color:#2D2D2D !important;
	display:block;
	margin:auto auto auto 0;
}

.nw_pg_cus{
	text-align:right;
}

.nw_pg_cus > .pagination > .active > span{
	background-color:#E10A0A !important;
	color:#ffffff !important;
	border:none !important;
	font-family:arial_bd !important;
	font-size:14px;
	margin-left: 10px;
}

.nw_pg_cus > .pagination > .disabled{
	display:none !important;
}

.nw_pg_cus > .pagination > li > a{
	margin-left: 10px;
	background-color:#999999 !important;
	color:#ffffff !important;
	font-family:arial_bd !important;
	font-size:14px;
}

.nw_pg_cus > .pagination > li:first-child > a{
	background-color:#666666 !important;
}

.nw_pg_cus > .pagination > li:last-child{
	margin-left:0 !important;
}

.nw_pg_cus > .pagination > li:last-child > a{
	border-radius:0 !important;
	background-color:#666666 !important;
}
/* End News */

/* News Detail */
.nwd_con1{
	margin-top:50px;
	margin-bottom:100px;
}

.nwd_con1_1L{
	padding-top:5%;
	padding-bottom:5%;
}

.nwd_time{
	color:#777777 !important;
	font-family:Helvetica !important;
}

.nwd_title{
	color:#A8000C;
	font-family:arial_bd !important;
	font-size:40px;
	margin-bottom:10px;
}

.nwd_img{
	margin-top:30px;
	margin-bottom:30px;
}

.nwd_des{
	font-family:avenir_roman !important;
	line-height:250% !important;
	color:#666666 !important;
	font-size:24px !important;
}

.nwd_des p{
	font-size:24px;
}

.img_sos_con{
	text-align:right;
	margin-top:100px;
}

.img_sosmed{
	margin-left:10px;
	display:inline-block !important;
}

@media screen and (max-width:767px){
	.nwd_con1_1L{
		padding-top:10% !important;
		padding-bottom:10% !important;
	}

	.nwd_des{
		font-size:5vw !important;
	}
}
/* End News Detail */

/* Apply */
.ap_con{
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom:5%;
	background-color:#F4F4F4;
}

.ap_des{
	font-family:avenir_black_oblique !important;
	line-height:120% !important;
	font-size:36px !important;
	padding: 5% 8%;
	background-color:#ffffff;
}

.ap_pad_l{
	padding-right:45px;
}

@media screen and (max-width: 1023px){
	.ap_pad_l{
		padding-right:15px;
		margin-bottom:5%;
	}

	.ap_des{
		font-size:5vw !important;
	}
}

.ap_ti_r{
	background-color:#4D4D4D;
	font-family:arial_bd !important;
	color:#ffffff;
	font-size:22px !important;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
}

.ap_con_r{
	background-color:#ffffff;
	padding: 5% 8%;
}

.ap_label_r label{
	margin-bottom:0 !important;
	font-family:avenir_heavy !important;
	color:#555555 !important;
	font-size:14px;
}

@media screen and (max-width:767px){
	.ap_label_r{
		margin-bottom:10px;
	}

	.ap_con{
		padding-top:10% !important;
		padding-bottom:10% !important;
		margin-bottom:10% !important;
	}
}

.ap_cus_input input, .ap_cus_input textarea{
	border-radius:0 !important;
}

.ap_input_con{
	margin-bottom:10px;
}

.ap_select_r select{
  border-radius: 0 !important;
  background: url(../images/other/dropdown.png) no-repeat right #fff !important;
  -webkit-appearance: none !important;
  /*webkit browsers */
  -moz-appearance: none !important;
  /*Firefox */
  appearance: none !important;
  /* modern browsers */
}

.ap_des_r{
	margin-top:8%;
	text-align:justify;
}

.ap_des_r p{
	font-family:din_l !important;
	font-size:16px;
	color:#555555 !important;
}

.ap_des_r p:first-child{
	text-indent: 30px;
}

.ap_submit_con{
	margin-top:35px;
}

.ap_submit_btn{
	width:100%;
	height:100%;
	background-color:#E10A0A;
	color:#ffffff !important;
	border-radius:0 !important;
	font-family:arial_bd !important;
	font-size:18px;
}

.img_lock{
	display:block;
	margin:auto auto auto 0;
}

@media screen and (max-width:767px){
	.img_lock{
		margin:auto !important;
	}
}

.submit_btn_con{
	margin-bottom:20px;
}
/* End Apply */

/* Contact */
.ct_banner{
	background-size:cover;
	padding-top:150px;
	padding-bottom:150px;
}

.ct_banner p{
	margin-bottom:28px;
	font-size:36px !important;
	font-family:nexa_bold !important;
	line-height: 180%;
	background-color: #ff3c00 !important;
    color: #ffffff !important;
    text-align:center;
}

.ct_banner p:nth-child(2){
	color:#FFCD00 !important;
	width: 37%;
    text-align: center;
}

@media screen and (max-width:767px){
	.ct_banner p:nth-child(2){
		width:100%;
	}	
}

.ct_input1{
	margin-bottom:8px;
}

.ct_input2{
	margin-bottom:20px;
}

.ct_con1{
	padding-top:80px;
	padding-bottom:100px; 
}

.ct_table{
	color:#4D4D4D !important;
	font-family:avenir_roman !important;
	font-size:24px;
}

.ct_table table tr td{
	border:none !important;
	padding-bottom: 0;
	padding-left:0 !important;
}

.ct_con2{
	font-family:avenir_heavy !important;
	font-size:38px;
	margin-top:60px;
	margin-bottom:10px;
}

.ct_con3 a{
	font-family:din_l !important;
	font-size:22px;
	color:#E10A0A;
}

.ct_con3{
	margin-bottom:20px;
}

.ct_con4{
	font-family:avenir_light !important;
	color:#999999;
	font-size:24px;
	margin-bottom:10px;
}

.ct_sos_con{
	background-color:#F4F4F4;
	padding:40px 35px;
}

.ct_sos_2a{
	margin:auto auto auto 0;
}

.ct_sos_1{
	color:#333333;
	font-family:avenir_heavy !important;
	font-size:36px;
	margin-bottom:20px;
}

.ct_sos_3a{
	margin-bottom:4%;
}

@media screen and (max-width:767px){
	.ct_sos_1{
		margin-bottom:5% !important;
		font-size:6vw !important; 
	}

	.ct_sos_con{
		padding: 10% 5% !important;
	}

	.ct_sos_2{
		font-size:7vw !important; 
	}

	.ct_banner{
		padding-top: 30% !important;
   		padding-bottom: 30% !important;
	}

	.ct_sos_3a{
		margin-bottom:2%;
	}

	.rg_r_label{
		margin-bottom:5%;
	}
}

@media screen and (min-width:1024px) and (max-width:1439px){
	.ct_sos_2{
		font-size:22px !important;
	}

	.ct_sos_1{
		font-size:26px !important;
	}
}

@media screen and (max-width:1023px){
	.ct_sos_con{
		margin-top:5%;
	}
}

.ct_sos_img{
	display:inline-block;
	margin-right:20px;
}

.ct_sos_2{
	font-size:28px;
	display:inline-block;
	color:#4D4D4D;
}

.ct_gt_con{
	width:auto;
	height:95%;
	position:absolute;
	background-color:#ffffff;
	z-index:100;
	top:0;
	right:11%;
}

@media screen and (max-width:767px){
	.ct_gt_con{
		position:static !important;
		height:100%;
		z-index:0 !important;
	}

	.ct_gimg{
		margin-top:20px !important;
	}
}

.ct_gt_pad{
	padding:30px 40px;
}

.ct_gtl{
	margin-bottom:20px;
	font-family:avenir_heavy !important;
	font-size:20px !important;
}

.ct_gda{
	font-family:avenir_light !important;
	font-size:16px !important;
	line-height:150% !important;
}

.ct_gda strong{
	font-weight:700 !important;
}

.ct_gda p{
	margin-top:5px;
}

.ct_gimg{
	margin-top:60px;
}
/* End Contact */


/* Merchant */
.mc_con{
	padding-top:2%;
	padding-bottom:8%;
}

.mc_col_1{
	color:#B0B0B0 !important;
	font-family:avenir_light !important;
	font-size:18px;
}

.mc_sb{
	margin-left: 5px !important;
}

.mc_col1_1{
	margin-bottom:15px;
}

.mc_col1_2{
	margin-bottom:30px;
}

.mc_col1_2 button{
	background-color:#BB2A26 !important;
	color:#ffffff !important;
}

.mc_col1_3 label{
	color:#B0B0B0 !important;
	font-family:avenir_light !important;
	font-size:20px !important;
}

.mc_col1_3 input[type=checkbox]{
  -webkit-appearance:checkbox;
}

.mc_col1_3 td{
	padding-bottom:4%;
}

@media screen and (max-width:767px){
	.mc_con{
		padding-top:10% !important;
		padding-bottom:10% !important;
	}

	.mc_col1_3 td{
		padding-bottom:4% !important;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	.mc_col1_3{
		margin-bottom:2%;
	}
}

.mc_ac_def{
	margin-bottom:40px !important;
}

.mc_cus_tab{
	text-align:center;
	color:#ffffff !important;
}

.mc_cus_tab > .panel-title{
	font-family:myriadpro_bold !important;
	font-size:24px !important;
}

.mc_tab_active{
	background-color:#666666 !important;
}

.mc_tab_inactive{
	background-color:#E10A0A !important;
}

.mc_ac_pad{
	padding-top:6%;
}

.panel-body{
	padding:0 !important;
}

.mc_ac_col{
	margin-bottom:6%;
}

.mc_cus_tab .accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f103";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
    padding-left:10%;
}
.mc_cus_tab .accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\f101";    /* adjust as needed, taken from bootstrap.css */
}

.mc_cus_tab .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f103";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
    padding-right:10%;
}
.mc_cus_tab .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f100";    /* adjust as needed, taken from bootstrap.css */
}

.mc_mp_tl{
	background-color:#E10A0A;
	font-family:myriadpro_bold !important;
	font-size:18px;
	text-align:center;
	color:#ffffff;
	padding-top:10px;
	padding-bottom:10px;
}

.mc_mp_logo{
	padding-top:10%;
	border:2px solid #808080; 
}

.mc_mp_logo img{
	margin-bottom:30px;
}

.mc_found h3{
	font-family:myriadpro_bold !important;
	font-size:32px;
	color:#212121 !important;
	text-align:center;
}
/* End Merchant */

/* Detail Merchant */
.dm_tl{
	text-align:center;
	background-color:#E10A0A;
	font-family:myriadpro_bold !important;
	color:#ffffff;
	padding-top:20px;
	padding-bottom:15px;
	font-size:32px;
}

.dm_tab .active a{
	background-color:#383838 !important;
}

.dm_tab li{
	background-color:#E10A0A !important;
}

.dm_tab li a{
	color:#ffffff !important;
	border-radius:0 !important;
	font-family:myriadpro_bold !important;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
}

.dm_tab li a:hover{
	background-color:#383838 !important;
}

.dm_tab li:nth-child(2) a{
	border-right:2px solid #383838;
	border-left:2px solid #383838;
}

.dm_tab li a:focus{
	background-color:#383838 !important;
}

.dm_tab_con{
	border:2px solid #EFEFEF;
}

.dm_tab_pad{
	padding: 6%;
}

.dm_tab_pad2{
	padding-top:30px;
	padding-bottom:30px;
}

.dm_tab_tl1{
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:30px;
	margin-bottom:30px;
}

.dm_tab_content1{
	font-family:din_l !important;
	font-size:18px;
	color:#636363 !important;
}

.dm_tbs{
	margin-bottom:8%;
}

.dm_table{
	margin-bottom:5%;
}

.dm_tab_content2 p{
	font-family:din_l !important;
	font-size:27px;
	margin-bottom:15px;
}

.dm_tb_con1{
	margin-bottom:15px;
}

@media screen and (max-width:767px){	
	.dm_tab_content2 p{
	    font-size: 6vw;
	}
}

.dm_tab_content2 span{
	margin-right:5px;
}

.dm_tab_content2 h3{
	margin-right:30px;
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:30px;
}

.dm_tab_content3 h3{
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:30px;
	margin-bottom:30px;
}

.dm_promo img{
	margin-bottom:30px !important;
}

.dm_rel{
	margin-top:40px;
}
/* End Detail Merchant */

/* Promo */
.prm_cons{
	padding-top:30px;
	padding-bottom:70px;
}

.prm_con h1{
	text-align:center;
	font-size:58px;
	color:#212121 !important;
	margin-bottom:4%;
	font-family:din_r !important;
}

.prm_con2{
	margin-bottom:5%;
}

.prm_con2 h3{
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:37px !important;
	margin-bottom:15px;
}

.prm_con3{
	font-size:25px !important;
	font-family:din_l !important;
	color:#636363 !important;
}

.prm_con4 h3{
	font-family:myriadpro_bold !important;
	font-size:19px;
	color:#212121 !important;
	margin-bottom:15px;
}

.prm_con5{
	font-family:din_l !important;
	color:#636363 !important;
	font-size:16px;
	line-height:180% !important;
}

@media screen and (max-width:767px){
	.prm_con h1{
		font-size:9vw !important;
	}

	.prm_con2 h3{
		font-size:5vw !important;
	}

	.prm_con3{
		font-size:4.6vw !important;
	}

	.prm_con4 h3{
		font-size:5vw !important;
	}
}
/* End Promo */

/* Register */
.flex_table.rg > [class*='col-6'] {
	padding-top:10%;
}

.rg_con{
	background-size:cover;
	padding-top:8%;
	padding-bottom:8%;
}

.rg_l{
	padding-left:40px;
}

.rg_l_con{
	padding-top:30%;
}

.rg_l_1{
	font-size:50px;
	font-family:lobster !important;
	line-height:150%;
	height:100%;
	padding-top:50%;
	word-wrap: break-word;
}

@media screen and (max-width:1023px){
	.rg_con{
		background-position: 85% center;
	}

	.rg_l_1{
		padding-top:5% !important;
		margin-bottom:4%;
	}
}

.rg_r{
	padding-right:100px;
}

.rg_r_1{
	background-color:#ED1C24;
	color:#ffffff !important;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center; 
	font-family:arial_bd !important;
	font-size:24px;
}

.rg_r_2{
	background-color:#4D4D4D;
	color:#ffffff !important;
	padding:40px;
}

.rg_r_input{
	margin-bottom:15px;
}

.rg_r_2 label{
	color:#ffffff;
	margin-bottom:0 !important;
	font-family:avenir_heavy !important;
	font-size:14px !important;
}

.rg_r_2 input{
	border-radius:0 !important;
}

.rg_r_2_link{
	color:#ffffff !important;
	margin-bottom:0 !important;
	font-family:avenir_heavy !important;
	font-size:14px !important;
}

.rg_r_2_link a{
	color:#F7F7F7 !important;
	font-family:arial_bd !important;
}

.rg_r_button_i{
	margin-top:20px;
}

.rg_cus_recaptcha{
	transform:scale(0.70);
    transform-origin:0 0;
}

.rg_r_button{
	background-color:#E10A0A !important;
	border-radius:0 !important;
	border:0 !important;
	width:100%;
	color:#ffffff !important;
	font-family:arial_bd !important;
	margin-bottom:20px;
}
/* End Register */

/* Verification */
.vc_con{
	background-color:#F2F2F2;
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom:5%;
}

.vc_cons{
	padding:5%;
	background-color:#ffffff !important;
}

.vc_text{
	color:#808080 !important;
	font-family:din_m !important;
	font-size:16px;
	margin-bottom:30px;
}

.vc_input{
	margin-bottom:30px;
}

.vc_input input{
	padding: 10px;
    border: 1px solid #ddd;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.vc_email{
	margin-bottom:15px;
}

.vc_email input{
	padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

.vc_submit{
	background-color:#E10A0A !important;
	width:100%;
	font-family:arial_bd !important;
	font-size:12px !important;
	border-radius:0 !important;
	color:#ffffff !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.verf_mo_con{
	margin-top:50% !important;
}

.verf_mo_head{
	font-family:din_m !important;
	font-size:16px !important;
	color:#000000 !important;
}

.verf_mo_bod{
	padding:10% !important;
	font-family:din_m !important;
	font-size:16px !important;
	color:#000000 !important;
}

@media screen and (max-width:767px){
	.vc_con{
		padding-top:10% !important;
		padding-bottom:10% !important;
		margin-bottom:10% !important;
	}
}
/* End Verification */

/* Modal Forgot Password */
.fg_1{
	background-color:#CC1717 !important;
	font-size:20px;
	color:#ffffff;
}

.fg_1 button{
	color: #ffffff;
    opacity: 0.6 !important;
}

.fg_2{
	padding-top:30px;
	padding-bottom:30px;
}

.fg_3{
	background-color:#808080 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:arial_bd !important;
	font-size:13px;
}
/* End Modal Forgot Password */

/* Forget Password */
.fp_con{
	background-color:#F2F2F2;
	padding-top:10%;
	padding-bottom:10%;
	margin-bottom:60px;
}

.fp_cons{
	padding:5%;
	background-color:#ffffff !important;
}

.fp_text{
	color:#808080 !important;
	font-family:din_m !important;
	font-size:16px;
	margin-bottom:30px;
}

.fp_input{
	margin-bottom:10px;
}

.fp_input input{
    border: 1px solid #ddd;
    font-size: 30px;
}

.fp_submit{
	background-color:#CC1717 !important;
	width:100%;
	font-family:arial_bd !important;
	font-size:14px !important;
	border-radius:0 !important;
	color:#ffffff !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}
/* End Forget Password */

/* Change Password */
.chp_con{
	background-color:#F2F2F2;
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom:5%;
}

.chp_cons{
	padding:5%;
	background-color:#ffffff !important;
}

.chp_text{
	color:#808080 !important;
	font-family:din_m !important;
	font-size:16px;
	margin-bottom:30px;
}

.chp_input{
	margin-bottom:10px;
}

.chp_input input{
    border: 1px solid #ddd;
    font-size: 30px;
}

.chp_submit{
	background-color:#CC1717 !important;
	width:100%;
	font-family:arial_bd !important;
	font-size:14px !important;
	border-radius:0 !important;
	color:#ffffff !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}

@media screen and (max-width:767px){
	.chp_con{
		padding-top:5%;
		padding-bottom:5%;
		margin-bottom:10% !important;
	}
}
/* End Change Password */

/* Edit Profile */
.edp_con{
	background-color:#F2F2F2;
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom:5%;
}

.edp_cons{
	padding:5%;
	background-color:#ffffff !important;
}

.edp_text{
	color:#808080 !important;
	font-family:din_m !important;
	font-size:16px;
	margin-bottom:30px;
}

.edp_input{
	margin-bottom:8px;
}

.edp_input span{
	color:#313131 !important;
	font-size:16px;
}

.edp_input input{
    border: 1px solid #ddd;
    font-size: 16px;
}

.edp_other{
	margin-top:10px;
}

.edp_other label{
	font-size:12px !important;
}

.edp_submit{
	background-color:#CC1717 !important;
	width:100%;
	font-family:arial_bd !important;
	font-size:14px !important;
	border-radius:0 !important;
	color:#ffffff !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.pf_cus_up{
	margin-top:4%;
	text-align:center;
}

.pf_cus_upl{
	position: relative;
  	overflow: hidden;
  	display: block;
  	margin:auto;
  	background-color:#666666;
  	padding-top:5%;
  	padding-bottom:5%;
  	color:#ffffff;
  	cursor:pointer !important;
}

.pf_cus_upl:hover{
  cursor:pointer !important;
}

.pf_cus_upl input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor:pointer !important;
}

@media screen and (max-width:767px){
	.edp_con{
		padding-top:10%;
		padding-bottom:10%;
		margin-bottom:10% !important;
	}
}
/* End Edit Profile */

/* Profile */
.pf_bg{
	background-image: url('../images/profile/profile_background.jpg');
	background-size:cover;
	min-height:400px;
}

.pf_con{
	margin-bottom:10%;
}

.pfcon2_1{
	margin-bottom:20px;
}

.pf_pc{
	border-radius:50%;
	margin-top: -50%;
	margin-bottom:20px;
}

.pf_btn{
	background-color:transparent !important;
	border:0 !important;
}

.pf_fa{
	color:#929292;
}

.pf_con2{
	margin-top:5%;
}

.pf_a{
	display:block;
	margin:auto;
}

.pf_con3{
	margin-top:3%;
	margin-bottom:4%;
}

.pf_con3 h3{
	font-size:43px !important;
	font-family:avenir_black !important;
	color:#000000 !important;
}

.pf_p{
	margin-bottom: 2%;
}

.pf_ip_1{
	margin-bottom:10px;
}

.pf_ip_2{
	margin-bottom:15px;
}

.pf_p p, .pf_p span{
	font-family:din_l !important;
	font-size:23px !important;
	color:#000000 !important;
}

.pf_sub{
	margin-top:4%;
}

.pf_sub1 button{
	width:100%;
	background-color:#E10A0A !important;
	font-family:arial_bd !important;
	font-size:14px !important;
	color:#F4F4F4 !important;
	border-radius:0 !important;
	padding-top:8%;
	padding-bottom:8%;
	display:block;
	margin-bottom:15px;
}

.pf_sub2 button{
	background-color:#999999 !important;
	font-family:arial_bd !important;
	font-size:14px !important;
	color:#F4F4F4 !important;
	border-radius:0 !important;
	padding-top:8%;
	padding-bottom:8%;
	display:block;
	width:100%;
	margin-bottom:15px;
}

.pf_card{
	margin-top:8%;
}
/* End Profile */